main {
  max-width: 800px;
  margin: 20px auto;
  color: #3e4144;
}

ul.tarefas {
  padding-left: 0px;
  list-style: none;
}

label {
  position: relative;
  color: inherit;
  text-decoration: none;
}

label::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 50%;
  left: 0;
  background-color: #3e4144;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

input:checked + label::before {
  transform: scaleX(1);
}

li, div {
  border-bottom-left-radius: 5px;
}

li {
  margin: 5px 0;
  border-bottom: 1px solid silver;

}

div {
  padding: 5px 0;
  border-left: 5px solid;
  border-top-left-radius: 5px;
}

.reunioes {
  border-color:  #70d6ffff;
}

.lazer {
  border-color:  #ff70a6ff;
}

.saude {
  border-color:  #ff9770ff;
}

.leitura {
  border-color:  #ffd670ff;
}

.estudo {
  border-color:  #e9ff70ff;
}

time {
  float: right;
  color: #06a600;
  margin-right: 10px;
}

time.plural::after {
  content: 's';
}

time.late {
  color: #d43d51;
}

time.late.plural::after {
  content: 's ago';
}

.sumario {
  text-align: center;
  color: white;
  font-weight: bold;
}

.bar {
  display: block;
  border-radius: 5px;
  background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
  );
  transition: width 0.2s ease;
}

button {
  float: right;
  color: white;
  border-radius: 10px;
  border-color: transparent;
  background-color:  #d43d51;
}

button:hover {
  background-color:  #ea7787;
}
